// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing{

  margin-left: 0px;

  .desc{ margin-bottom: 10px; font-size: 7px;  }

  li {list-style-type: none;

      h5 {color: #FF0000; }
      img {width: 100%; margin-bottom: 10px;  }
     }

}

@media only screen and (max-width: 40em){
        .listing{
          li {
            img {width: 300px; }
          }
        }
      }
